{% extends "wafer/base.html" %}
{% load i18n %}

{% block page_title %}
{% trans 'Sponsorship Packages' %}
{% endblock %}

{% block content %}
<section class="wafer wafer-sponsorship-packages">
   {% block pre_package_list %}{% endblock %}

   <div class="space-y-3 pb-5">

      <p>
         Sponsorship of PyCon Africa will give your organisation global visibility and recognition. It is an excellent
         way
         to
         support the Python community, promote your products to our hundreds of delegates, and meet Python developers
         who
         are
         looking for work.
      </p>

      <p>

         In return for your support, we will ensure that your company is given exposure before, during, and after the
         event,
         and
         we will work with you so that you get exactly what you're looking for out of sponsoring the conference.
      </p>

      <p>Please contact <a href="mailto:sponsorship@pycon.africa">sponsorship@pycon.africa</a> if you are interested in
         sponsoring PyCon Africa 2025, or if you have
         any questions about sponsorship.</p>


      <p>Please note that these packages are flexible - if you are interested in sponsoring, but none of our packages
         quite fit your needs or budget, our sponsorship team will be happy to work with you to customise your package
         benefits.
      </p>

      <div class="alert alert-primary my-10">
         <h4>Regional Packages for African Organisations</h4>
         <p>You'll notice that most packages come have 2 versions. The standard packages are priced in US Dollars, and
            Regional packages are priced in South African Rands. The regional packages are there to make participation
            possible for African companies.</p>
      </div>
      <div class="mx-auto w-fit py-5">

         <a href="https://drive.google.com/file/d/1u0ZkJsvUHSoEzuZHLikffUlOrsNGI-Mk/view" target="_blank"
            class="btn btn-primary">Download Full Prospectus</a>
      </div>

   </div>
   {% block package_list %}
   <div class="space-y-5">
      {% for package in sponsorshippackage_list %}
      {% block package_display %}
      <section class="wafer wafer-sponsorship-package
                          wafer-sponsor-{{ package.name.lower }} shadow-2xl p-5 ">
         <div class="space-y-3">
            <h2 class="card-title">
               {% if package.symbol %}
               {{ package.symbol }}
               {% endif %}
               {{ package.name }} ({{ package.currency }} {{ package.price|floatformat:0 }})
            </h2>
            <p class="italic text-gray-600 m-4">{{ package.short_description }}</p>

            <!-- <table class="max-w-fit m-4">
               <tr>
                  {% if package.number_available %}
                  <th>{% trans 'Total number available:' %}</th>
                  <td class="border-r border-gray-300">{{ package.number_available }}</td>
                  {% endif %}
                  <th>{% trans 'Packages claimed:' %}</th>
                  <td>{{ package.number_claimed }}</td>
               </tr>
            </table> -->

            <div class=" border-gray-300 m-4 rounded space-y-2 ">
               <h3 class="pt-2 pb-3">Details</h3>
               {{ package.description }}
            </div>
         </div>
      </section>
      {% endblock package_display %}
      {% empty %}
      <p>{% trans 'No sponsorship packages available yet.' %}</p>
      {% endfor %}
   </div>
   {% endblock package_list %}
   {% block post_package_list %}{% endblock %}

   <div class="space-y-3 pt-5">

      <p>

         ** <strong>Named Travel Grant Awardees*</strong> - In addition to listed sponsorship recognition, have your
         company exclusively
         recognized by the grant awarded to selected delegates named after your organization. Exclusive media coverage
         and
         promotion of named grant awardees included.
      </p>

      <p>

         <strong>*Privacy policy*</strong> - Participant details will not be shared without their explicit permission.
         Participants are
         allowed to
         share their information with you at
         your stall. Give them a good reason to do so. Make a compelling pitch for yourself or offer goodies in exchange
         for
         contact information.
      </p>

      <p>Please contact <a href="mailto:sponsorship@pycon.africa">sponsorship@pycon.africa</a> if you are interested in
         sponsoring PyCon Africa 2025, or if you have
         any questions about sponsorship.</p>

      <div class="mx-auto w-fit pt-5">

         <a href="https://drive.google.com/file/d/1u0ZkJsvUHSoEzuZHLikffUlOrsNGI-Mk/view" target="_blank"
            class="btn btn-primary">Download Full Prospectus</a>
      </div>
   </div>

</section>
{% endblock content %}